*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: auto;
}
:root{
    --maincolor:hsl(186deg 80% 46%);
    scroll-behavior: smooth;
}
/*Start header*/
header{
    width: 100%;
    padding: 30px 0px;
    background-color: transparent;
    border-bottom: 1px solid white;
    position: fixed;
    z-index: 555;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container i{
    display: none;
}
header p{
    color: white;
    font-size: 20px;
}
header p span{
    color:var(--maincolor) ;
    font-size: 20px;
}
header ul{
    list-style: none;
}
header ul li{
    display: inline-block;
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
header ul li a:hover{
    color: hsl(186deg 80% 46%) ;
}
/*end header*/
/*start cover*/
.cover {
    width: 100%; 
    height: 100vh;
    color: white;
    background-image: url('../image/cover.jpg');
    background-size: cover;

}
.cover .container{
    position: relative;
    top: 50%; left: 0;
}
.cover  .container .information{
    position: absolute;
}
.cover .information p:first-child{
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 5px;
}
.cover .information p:nth-of-type(2){
    font-size: 30px;
    border-bottom:1px solid #ddd;
    padding: 20px 0px;
    margin-bottom: 20px;
}
.cover .information span{
    margin-right: 30px;
}
.cover .information span a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
/*end cover*/
/*start skills*/
.part2{
    width: 100%;
    background-color: white;
    margin: 100px auto;
}
.part2 .container{
    display: flex;
    justify-content: space-between;
}
.part2 .container .intro{
    width: 20%;
    direction: rtl;
    margin-right: 100px;
}
.part2 .container .intro p:first-child{
    font-size: 30px;
}
.part2 .container .intro p:last-child{
    font-size: 12px;
}
.part2 .container .details{
    width: 80%;
}
.part2 .container .details p:first-child{
    margin-bottom: 20px;
}
.skills{
    margin-top: 50px;
}
.skills .skill{
    margin-bottom: 20px;
}
.skills .skill p:first-child span:last-child{
    float: right;
}
.skills .skill .html{
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background-image: linear-gradient(to right,var(--maincolor) 80%,#ddd 20%);
}
.skills .skill .css{
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background-image: linear-gradient(to right,var(--maincolor) 50%,#ddd 50%);
}
.skills .skill .js{
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background-image: linear-gradient(to right,var(--maincolor) 50%,#ddd 50%);
}
.skills .skill .bs{
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background-image: linear-gradient(to right,var(--maincolor) 50%,#ddd 50%);
}
/*end skills*/
/*start experianc*/
.part3 {
    width: 100%;
    background-color:hsl(0deg 0% 98%);
    padding: 100px 0px;
    margin: 100px auto;
}
.part3 .container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}
.part3 .container .experiance{
    grid-column: span 3;
    direction: rtl;
    margin-right: 100px;
}
.experiance p:first-child{
    font-size: 30px;
}
.part3 .container .tools{
    grid-column: span 9;
    display: flex;
    justify-content: space-between;
}
.tools .tool{
    background-color: white;
    padding: 40px;
    margin-right: 10px;
    transition: transform 0.2s 0s ease;
}
.tools .tool:hover{
    background-color:var(--maincolor) ;
    transform: scale(1.05);
}
.tools .tool span{
    font-size: 30px;
}
.tools .tool p:first-of-type{
    margin: 20px 0px;
}
/*end experiance*/
/*start works*/
.part4 {
    width: 100%;
    margin: 100px auto;
}
.part4 .container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}
.part4 .container .works{
    grid-column: span 3;
    direction: rtl;
    margin-right: 100px;
}
.works p:first-child{
    font-size:30px; 
}
.images {
    grid-column: span 9;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: 5px 5px;
}
.images img:first-child{
    grid-column: span 8;
}
.images .img{
    grid-column: span 4;
    width: 100%;
    overflow: hidden;
    transition: transform 0.1s 0s linear;
}
.images .img:hover{
    transform: scale(1.03);
    box-shadow: 4px -1px 4px 0px hsl(186deg 4% 86%);
}
/*end works*/
/*start contact*/
.part5{
    width: 100%;
    background-color:hsl(0deg 0% 98%);
    padding: 100px 0px;
    margin-top: 100px;
}
.part5 .container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}
.part5 .container .contact{
    grid-column: span 3;
    direction: rtl;
    margin-right: 100px;
}
.contact p:first-child{
    font-size: 30px;
}
.part5 .container .person{
    grid-column: span 9;
    display: flex;
    justify-content: space-between;
    color: hsl(222deg 8% 75%);
}
.person p span{
    font-size: 20px;
    margin-bottom: 10px;
    color: black;
}
/*end contact*/
/*start footer*/
footer{
    width: 100%;
    padding: 40px 0px;
}
footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*end footer*/
#top{
    position: fixed; color: white;
    bottom: 20px;
    right:  20px;
    padding: 10px;
    background-color: var(--maincolor);
    display: none;
}
/*end project*/
/*start media*/

@media(max-width:767px ){
    .header .container,.part2 .container{
        flex-direction: column;
        align-items: center;
    }
    .part2 .container .intro,.part2 .container .details{
        width:100 %;
    }
    .part2 .container .intro{text-align: center;}
    .part3 .container .experiance{
        grid-column: span 12;
    }
    .part3 .container .tools{
        grid-column: span 12;
        flex-direction: column;
        align-items: center;
    }
    .part4 .container .works,.part4 .container .images{
        grid-column: span 12;
    }
    .part5 .container .contact{
         grid-column: span 12;
    }
    .part5 .container .person{
        grid-column: span 12;
        flex-direction: column;
        align-items: center;
    }
    .person p {
        text-align: center;
        margin: 10px;
    }
    header ul{
        position: absolute;
        top: 83px; left: 0px;
        width: 100%;
        background-color: white;
        display: none;
    }
    header ul::after{
        content: "";
        position: absolute;
        top: -57px; right: 17px;
        border-width: 28px ;
        border-style: solid;
        border-color: transparent transparent white transparent;
    }
    header ul:hover{
        display: block;
    }
    header .container i{
        display: block;
        color: white;
    }
    header .container i:hover + ul{
        display: block;
    }
    header ul li{
        display: block;
        padding: 5px;
    }
    header ul li a{
        color: black;
    }
    header .container ul li:hover{
        color: white;
        background-color: var(--maincolor);
    }
}
/*end media*/

